#root {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  text-transform: capitalize;
  gap: 30px;
}
:root {
  --black: #353b48;
}

.container {
  border: 2px solid var(--black);
  padding-top: 10px;
  border-radius: 10px;
  background: var(--black);
  box-shadow: 10px 10px 15px 5px gray;
  text-align: center;
  position: relative;
  width: 300px;
  max-width: 100%;
}
.status {
  position: absolute;
  top: 20px;
  right: 220px;
  font-size: 14px;
  background: rgb(255, 48, 48);
  padding: 1px 3px;
  border-radius: 3px;
}

.status.online {
  background-color: rgb(6, 114, 255);
}

img {
  height: 100px;
  width: 125px;
  border-radius: 50%;
  border: 2px solid rgb(63, 128, 248);
}

p {
  text-align: center;
}

.btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.message {
  background-color: rgb(0, 145, 229);
  border: 1px solid rgb(0, 145, 229);
  border-radius: 3px;
  padding: 3px 10px;
  color: white;
  cursor: pointer;
}

.follow {
  background: transparent;
}

.skills {
  padding: 5px;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: left;
  background: #2f3640;
}

.skills ul {
  list-style-type: none;
  padding: 0px;
}

.skills ul li {
  display: inline-block;
  margin: 2px;
  border: 1px solid #595180;
  padding: 5px;
  font-size: 14px;
}
